/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

article {

}

h1 {

}

img {
  max-width: 100%;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

ul li {
  float: right;
  font-size: 1.5em;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

li a {
  color: inherit;
  text-decoration: none;
}
